@import 'bootstrap';

nav {
  z-index: 10;
}

.background-image {
  background-image: url("/src/assets/background.png");
  background-color: white;
  width: 100%;
  height: 100%;
}

section {
  min-height: 100vh;
  padding: 5rem 9% 2rem;
}

.customer_details {
  max-width: 80rem;
  margin: 1rem auto;
  margin-bottom: 1.5rem;
}

.text-red {
  color: red;
}

.button-set {
  border: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: max-content;
  height: max-content;
}

.home-container {
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
  overflow: hidden;
  display: grid;
  padding-top: 60px;
}

.wrapper {
  width: 100%;;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide{
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(0);
  }
  30% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(-100%);
  }
  55% {
      transform: translateX(-200%);
  }
  75% {
      transform: translateX(-200%);
  }
  80% {
      transform: translateX(-300%);
  }
  100% {
      transform: translateX(-300%);
  }
}

img {
  width: 100%;
}